<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <div class="form-row" style="padding-top: 1.5cm">
        <div class="form-group col-md-6" style="align-content: center" [routerLink]="['/placeOrder']"
        ><img src="assets/img/image1.jpg" style="image-rendering: auto">
          <h4 style="text-align: center">Place Order</h4>
        </div>
        <div class="form-group col-md-6" style="align-content: center ; padding-left: 2cm" [routerLink]="['/showOrderStatus']">
          <img src="assets/img/image2.jpg" style="image-rendering: auto">
        </div>
      </div>

      <div class="form-row" style="padding-top: 1cm">
          <div class="form-group col-md-6" style="align-content: center" [routerLink]="['/updateOrderStatus']">
            <img src="assets/img/image3.jpg" style="image-rendering: auto">
          </div>
          <div class="form-group col-md-6" style="align-content: center ; padding-left: 2cm" [routerLink]="['/insights']">
            <img src="assets/img/image4.png"  style="image-rendering: auto">
          </div>
        </div>

      
    </div>
    <div class="col-2">

    </div>
  </div>
</div>